data/
*.csv
*.parquet
*.json
__pycache__/
.venv/
.DS_Store
*.egg-info/
*.pyc
.venv/
notebooks/01_download_data.ipynb
notebooks/01_download_data.ipynb
notebooks/01_download_data.ipynb
notebooks/gustavo_sandbox.ipynb
notebooks/yuri_sandbox.ipynb
